<%- include("partials/top.ejs") %>
<title><%= title %></title>
<%- include("partials/sidebar.ejs") %>
<!--Content-->
<h1>Author: <%= author.name %></h1>
<p><%= author.lifespan %></p>
<div style="margin-left: 20px; margin-top: 20px">
  <h4>Books</h4>
  <dl>
    <% for (book of authorBooks) {%>
    <dt><a href="<%= book.url %>"><%= book.title %></a></dt>
    <dd><%= book.summary %></dd>
    <%} %> <% if (authorBooks.length === 0) {%>
    <p>This author has no books</p>
    <%} %>
  </dl>
</div>
<hr />
<p>
  <a href="<%= author.url %>/delete">Delete Author</a>
</p>
<p>
  <a href="<%= author.url %>/update">Update Author</a>
</p>

<%- include("partials/bottom.ejs") %>
