<%- include("partials/top.ejs") %>
<title><%= title %></title>
<%- include("partials/sidebar.ejs") %>
<!--Content-->
<h1><%= title %></h1>
<ul>
  <% for (bookInstance of bookInstanceList) {%>
  <li>
    <%= console.log(bookInstance) %>
    <a href="<%= bookInstance.url%>"
      ><%= bookInstance.book.title %> : <%= bookInstance.imprint %></a
    >
    <span> - </span>
    <% if (bookInstance.status === "Available") {%>
    <span class="text-success"><%= bookInstance.status %></span>
    <%} else if (bookInstance.status === "Maintenance") {%>
    <span class="text-danger"><%= bookInstance.status %></span>
    <% }else {%>
    <span class="text-warning"><%= bookInstance.status %></span>
    <% } %> <% if (bookInstance.status !== "Available") { %>
    <span>(Due: <%= bookInstance.dueBackFormatted %>)</span>
    <% } %>
  </li>
  <%} %>
</ul>
<%- include("partials/bottom.ejs") %>
